<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../../node_modules/materialize-css/dist/css/materialize.min.css" >
    <link rel="stylesheet" href="../css/style.css" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../../node_modules/hammerjs/hammer.min.js"></script>
    <script type="text/javascript" src="../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
  </head>
  <body>
      <div class="row valign">
        <div class="col s12">
          <div class="col s3 col l2 col m3 teal lighten-4">
            <div class="col s12">
              <p>ROOMS</p>
            </div>
            <hr>
            <div class="col s12">
              <label>Room Default</label>
              <div id="rooms"></div>
            </div>
          </div>
          <div class="col s5 col l8 col m5">
            <div class="col 12 teal lighten-4">Ventana</div>
          </div>
          <div class="col s4 col l2 col m4 teal lighten-4">
            <div class="col s12">
              <p>USERS</p>
              <hr>
              <div id="users"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row valign no-margin">
        <div class="row center">
          <div class="teal lighten-5">
            <form action="" method="post">
              <div class="input-field col s10">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
              </div>
              <div class="row center">
                <input class="waves-effect waves-light btn right" type="submit" value="Send"/>
              </div>
            </form>
          </div>
        </div>
      </div>
  </body>

  <script>
    require("./scripts/main.js");
  </script>

</html>
